<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="https://getbootstrap.com/favicon.ico"/>

    <title>Courseweb</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap_files/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/bootstrap_files/bootstrap.css}"/>
    <link href="/static/bootstrap_files/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/bootstrap_files/bootstrap.min.css}"/>
    <link href="/static/bootstrap_files/starter-template.css" rel="stylesheet" media="screen" th:href="@{/bootstrap_files/starter-template.css}"/>
    <link href="/static/css/general.css" rel="stylesheet" media="screen" th:href="@{/css/general.css}"/>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Courseweb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="courses.html">Courses</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="teachers.html">Teachers</a>
            </li>
        </ul>

    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Teachers</h1>
        <h2>These are the teachers currently registered on the course-web!</h2>
        <table class="table" th:action="@{/teachers}" th:object="${listOfTeachers}">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email-address</th>
                <th>Utility</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${listOfTeachers}">
                <th scope="row" th:text="${teacher.id}"></th>
                <td th:text="${teacher.firstName}"></td>
                <td th:text="${teacher.lastName}"></td>
                <td th:text="${teacher.emailAdress}"></td>
                <td>
                    <form th:action="@{'teachers/' + ${teacher.firstName} + '.json'}">
                        <input type="submit" value="Raw-data"/>
                    </form>
                    <form th:action="@{'teachers/' + ${teacher.firstName} + '/edit'}">
                        <input type="submit" value="Edit"/>
                    </form>
                    <form th:action="@{/teachers/{firstName}(firstName=${teacher.firstName})}" th:method="delete">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-sm-4 addTeacher">
            <p>Add a new teacher.</p>
            <form action="#" th:action="@{/teachers.html}" th:object="${teacher}" method="post">
                <label for="firstName">first-name</label>
                <input id="firstName" type="text" th:field="*{firstName}"/>
                <label for="lastName">last-name</label>
                <input id="lastName" type="text" th:field="*{lastName}"/>
                <label for="emailAdress">email-address</label>
                <input id="emailAdress" type="text" th:field="*{emailAdress}"/>
                <input type="submit" />
            </form>
        </div>
    </div>

</main><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/bootstrap_files/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="/static/bootstrap_files/popper.js"></script>
<script src="/static/bootstrap_files/bootstrap.js"></script>


</body>
</html>
